//COLOR SCHEME #1 INFRARED & PURPLE
$bright-red: #DE354c;
$deep-red: #932432;
$pure-purple: #7ccdf3;
$purple-tinged: #283747;
$cloud: #f3f3f3;

// METALLIC
$blue-popsicle: #09bff6;
$redline: #9e363a;
$purple-shadow: #091f36;
$grey-blue-leaf: #4f5f76;


// DARK & LIGHT BACKGROUNDS
$dark-background: black;
$light-background: white;
$dark-grey: #8f8e8e;
$lt-nav: #037cb8;
$dk-nav: rgb(49, 4, 4);