@use '../../assets/partials/colors';
@use '../../assets/partials/typography';
@import '../../assets/partials/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

//PROJECT CONTAINER
.dk-project-container{
    margin-top: 2rem;
    padding-bottom: 10rem;
}
.lt-project-container{
    margin-top: 2rem;
    padding-bottom: 10rem;
}
//FONT SIZES
.lt-project-container h1{
    font-family: 'Russo One', sans-serif;
    font-size: 3.25rem;
    @include small {
        font-size: 3.75rem;
    }
    @include med{
        font-size: 4rem;
    }
    @include large{
        font-size: 4.25rem;
    }
    @include x-large{
        font-size: 4.5rem;
    }
    @include xx-large{
        font-size: 4.75rem;
    }
}
.dk-project-container h1{
    font-family: 'Russo One', sans-serif;
    font-size: 3.25rem;
    @include small {
        font-size: 3.75rem;
    }
    @include med{
        font-size: 4rem;
    }
    @include large{
        font-size: 4.25rem;
    }
    @include x-large{
        font-size: 4.5rem;
    }
    @include xx-large{
        font-size: 4.75rem;
    }
}
.dk-project-container h2{
    font-family: 'Russo One', sans-serif;
    font-size: 2.5rem;
    @include small {
        font-size: 2.75rem;
    }
    @include med{
        font-size: 3rem;
    }
    @include large{
        font-size: 3.25rem;
    }
    @include x-large{
        font-size: 3.5rem;
    }
    @include xx-large{
        font-size: 3.75rem;
    }
}
.lt-project-container h2{
    font-family: 'Russo One', sans-serif;
    font-size: 2.5rem;
    @include small {
        font-size: 2.75rem;
    }
    @include med{
        font-size: 3rem;
    }
    @include large{
        font-size: 3.25rem;
    }
    @include x-large{
        font-size: 3.5rem;
    }
    @include xx-large{
        font-size: 3.75rem;
    }
}
.dk-project-container p{
    font-size: 1rem;
    @include small {
        font-size: 1.2rem;
    }
    @include med{
        font-size: 1.5rem;
    }
    @include large{
        font-size: 1.7rem;
    }
    @include x-large{
        font-size: 1.8rem;
    }
    @include xx-large{
        font-size: 1.8rem;
    }
}
.lt-project-container p{
    font-size: 1rem;
    @include small {
        font-size: 1.2rem;
    }
    @include med{
        font-size: 1.5rem;
    }
    @include large{
        font-size: 1.7rem;
    }
    @include x-large{
        font-size: 1.8rem;
    }
    @include xx-large{
        font-size: 1.8rem;
    }
}
// Project Header
.dk-project-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lt-project-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//DEMO AREA
.dk-demo-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.lt-demo-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.dk-demo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.lt-demo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.dk-app-demo{
    border-radius: 10px;
    box-shadow: 2px 0 1px 1px rgba(255, 253, 253, 0.527);
    margin-bottom: 1rem;
    width: 18rem;
    height: 18rem;
    @include small {
        width: 28rem;
        height: 22rem;
    }
    @include med{
        width: 38rem;
        height: 22rem;
    }
    @include large{
        width: 48rem;
        height: 22rem;
    }
    @include x-large{
        width: 48rem;
        height: 22rem;
    }
    @include xx-large{
        width: 48rem;
        height: 22rem;
    }
}
.lt-app-demo{
    border-radius: 10px;
    box-shadow: 2px 0 1px 1px rgba(0, 0, 0, 0.685);
    margin-bottom: 1rem;
    width: 18rem;
    height: 18rem;
    @include small {
        width: 28rem;
        height: 22rem;
    }
    @include med{
        width: 38rem;
        height: 22rem;
    }
    @include large{
        width: 48rem;
        height: 22rem;
    }
    @include x-large{
        width: 48rem;
        height: 22rem;
    }
    @include xx-large{
        width: 48rem;
        height: 22rem;
    }
}
//DESCRIPTION AREA
.dk-description-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-top: 1px solid white;
    border-top-width: 50%;
}
.lt-description-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-top: 1px solid black;
    border-top-width: 50%;
}
.dk-app-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    background: colors.$deep-red;
    box-shadow: 2px 0 1px 2px rgba(255, 253, 253, 0.527);
    border-radius: 10px;
}
.lt-app-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    box-shadow: 2px 0 1px 2px rgba(0, 0, 0, 0.685);
    background: colors.$pure-purple;
    border-radius: 10px;
}
//Tech Stack
.dk-stack-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-top: 1px solid white;
    border-top-width: 50%;
}
.lt-stack-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-top: 1px solid black;
    border-top-width: 50%;
}
.project-list{
    list-style: none;
    font-size: 1.15rem;
    @include small {
        font-size: 1.5rem;
    }
    @include med{
        font-size: 1.75rem;
    }
    @include large{
        font-size: 2rem;
    }
    @include x-large{
        font-size: 2.25rem;
    }
    @include xx-large{
        font-size: 2.75rem;
    }
}
.dk-stack-list{
    display: flex;
    margin: 1.75rem;
    justify-content: center;
    align-items: center;
    background: colors.$deep-red;
    box-shadow: 2px 0 1px 2px rgba(255, 253, 253, 0.527);
    border-radius: 10px;
}
.lt-stack-list{
    display: flex;
    margin: 1.75rem;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 1px 2px rgba(0, 0, 0, 0.685);
    background: colors.$pure-purple;
    border-radius: 10px;
}
//CAROUSEL CONTAINER
.dk-carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.lt-carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
// Link Area
.dk-link-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.lt-link-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.dk-link-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.lt-link-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.link-image{
    width: 18rem;
    border-radius: 10px;
    @include small {
        width: 24rem;
    }
    @include med{
        width: 28rem;
    }
    @include large{
        width: 32rem;
    }
    @include x-large{
        width: 36rem;
    }
    @include xx-large{
        width: 36rem;
    }
}
.dk-project-link{
    &:hover{
        border: 1px solid red;
        border-radius: 10px;
    }
}
.lt-project-link{
    &:hover{
        border: 1px solid aqua;
        border-radius: 10px;
    }
}