@use '../../assets/partials/colors';
@use '../../assets/partials/typography';
@import '../../assets/partials/breakpoints';

.nav-drop-container{
    @include med{
        display: flex;
        align-items: center;
    }
}


// COLLAPSIBLE DROPDOWN
#lt-drop{
    color: black;
    font-size: 1.4rem;
    @include small {
        font-size: 1.4rem;
    }
    @include med{
        font-size: 1.4rem;
        margin-right: 2rem;
        margin-left: 9rem;
    }
    @include large{
        font-size: 1.6rem;
        margin-left: 21rem;
    }
    @include x-large{
        font-size: 1.6rem;
        margin-left: 30rem;
    }
    @include xx-large{
        font-size: 1.8rem;
        margin-left: 38rem;
    }
    &:hover{
        color: rgb(0, 81, 255);
    }
}
#dk-drop{
    color: rgb(255, 115, 115);
    font-size: 1.4rem;
    @include small {
        font-size: 1.4rem;
    }
    @include med{
        font-size: 1.4rem;
        margin-right: 2rem;
        margin-left: 9rem;
    }
    @include large{
        font-size: 1.6rem;
        margin-left: 21rem;
    }
    @include x-large{
        font-size: 1.6rem;
        margin-left: 30rem;
    }
    @include xx-large{
        font-size: 1.8rem;
        margin-left: 38rem;
    }
    &:hover{
        color: red;
    }
}
.nav-list{
    @include med{
        display: flex;
        align-items: center;
    }
    
}
.dk-collapsible-dropdown{
    font-size: 1.1rem;
    @include small {
        font-size: 1.2rem;
    }
    @include med{
        font-size: 1.2rem;
    }
    @include large{
        font-size: 1.4rem;
    }
    @include x-large{
        font-size: 1.6rem;
    }
    @include xx-large{
        font-size: 1.8rem;
    }
}
.lt-collapsible-dropdown{
    font-size: 1.1rem;
    @include small {
        font-size: 1.2rem;
    }
    @include med{
        font-size: 1.2rem;
    }
    @include large{
        font-size: 1.4rem;
    }
    @include x-large{
        font-size: 1.6rem;
    }
    @include xx-large{
        font-size: 1.8rem;
    }
}
// Logos
.logo-light{
    width: 6rem;
    @include med{
        width: 6.25rem;
        
    }
    @include large{
        width: 6.5rem;
    }
    @include x-large{
        width: 6.75rem;
    }
    @include xx-large{
        width: 7rem;
    }
}
.logo-dark{
    width: 6rem;
    @include med{
        width: 6.25rem;
    }
    @include large{
        width: 6.5rem;
    }
    @include x-large{
        width: 6.75rem;
    }
    @include xx-large{
        width: 7rem;
    }
}

// DARK NAVBAR CONTAINER
.dk-nav-bar-container {
    background: colors.$dk-nav; 
    border-bottom: 2px solid white;
   
}
.dk-nav-bar-container h1{
    color: rgb(255, 115, 115);
    font-size: 1.4rem;
    @include small {
        font-size: 1.4rem;
    }
    @include med{
        font-size: 1.4rem;
    }
    @include large{
        font-size: 1.6rem;
    }
    @include x-large{
        font-size: 1.8rem;
    }
    @include xx-large{
        font-size: 2rem;
    }
    &:hover{
        color: red;
    }
}


// LIGHT NAVBAR CONTAINER 
.lt-nav-bar-container{
    background: colors.$lt-nav;
    border-bottom: 2px solid black;
}
.lt-nav-bar-container h1{
    font-size: 1.4rem;
    color: black;
    @include small {
        font-size: 1.4rem;
    }
    @include med{
        font-size: 1.4rem;
    }
    @include large{
        font-size: 1.6rem;
    }
    @include x-large{
        font-size: 1.8rem;
    }
    @include xx-large{
        font-size: 2rem;
    }
    &:hover{
        color: rgb(0, 81, 255);
    }
}


