@use '../../assets/partials/colors';
@use '../../assets/partials/typography';
@import '../../assets/partials/breakpoints';

// COLLAPSIBLE DROPDOWN
#lt-drop{
    color: black;
    font-size: 1.4rem;
    @include small {
        font-size: 1.6rem;
    }
    @include med{
        font-size: 1.8rem;
    }
    @include large{
        font-size: 2rem;
    }
    @include x-large{
        font-size: 2.2rem;
    }
    @include xx-large{
        font-size: 2.4rem;
    }
    &:hover{
        color: rgb(0, 81, 255);
    }
}
#dk-drop{
    color: rgb(255, 115, 115);
    font-size: 1.4rem;
    @include small {
        font-size: 1.6rem;
    }
    @include med{
        font-size: 1.8rem;
    }
    @include large{
        font-size: 2rem;
    }
    @include x-large{
        font-size: 2.2rem;
    }
    @include xx-large{
        font-size: 2.4rem;
    }
    &:hover{
        color: red;
    }
}
.nav-list{
    align-items: center;
}
.dk-collapsible-dropdown{
    font-size: 1.1rem;
    @include small {
        font-size: 1.2rem;
    }
    @include med{
        font-size: 1.2rem;
    }
    @include large{
        font-size: 1.4rem;
    }
    @include x-large{
        font-size: 1.6rem;
    }
    @include xx-large{
        font-size: 1.8rem;
    }
}
.lt-collapsible-dropdown{
    font-size: 1.1rem;
    @include small {
        font-size: 1.2rem;
    }
    @include med{
        font-size: 1.2rem;
    }
    @include large{
        font-size: 1.4rem;
    }
    @include x-large{
        font-size: 1.6rem;
    }
    @include xx-large{
        font-size: 1.8rem;
    }
}
// Logos
.logo-light{
    width: 6rem;
    @include med{
        width: 6.25rem;
        
    }
    @include large{
        width: 6.5rem;
    }
    @include x-large{
        width: 6.75rem;
    }
    @include xx-large{
        width: 7rem;
    }
}
.logo-dark{
    width: 6rem;
    @include med{
        width: 6.25rem;
    }
    @include large{
        width: 6.5rem;
    }
    @include x-large{
        width: 6.75rem;
    }
    @include xx-large{
        width: 7rem;
    }
}
// Toggle Buttons
.moon{
    color: aqua;
    font-size: 2rem;
    width: 2.5rem;
    background: none;
    outline: none;
    border: none;
    &:hover{
        color: rgb(0, 108, 248);
    }
    @include med{
        margin-left: 13rem;
        font-size: 2.5rem;
        width: 3rem;
    }
    @include large{
        margin-left: 24rem;
        font-size: 3rem;
        width: 3.5rem;
    }
    @include x-large{
        margin-left: 32rem;
        font-size: 3.5rem;
        width: 4rem;
    }
    @include xx-large{
        margin-left: 40rem;
        font-size: 4rem;
        width: 4rem;
    }
}
.sunny{
    color: orange;
    font-size: 2rem;
    width: 2.5rem;
    background: none;
    outline: none;
    border: none;
    &:hover{
        color: yellow;
    }
    @include med{
        margin-left: 13rem;
        font-size: 2.5rem;
        width: 3rem;
    }
    @include large{
        margin-left: 24rem;
        font-size: 3rem;
        width: 3.5rem;
    }
    @include x-large{
        margin-left: 32rem;
        font-size: 3.5rem;
        width: 4rem;
    }
    @include xx-large{
        margin-left: 40rem;
        font-size: 4rem;
        width: 4rem;
    }
}


// DARK NAVBAR CONTAINER
.dk-nav-bar-container {
    background: colors.$dk-nav; 
    border-bottom: 2px solid white;
}
.dk-nav-bar-container h1{
    color: rgb(255, 115, 115);
    font-size: 1.4rem;
    @include small {
        font-size: 1.5rem;
    }
    @include med{
        font-size: 1.6rem;
    }
    @include large{
        font-size: 2rem;
    }
    @include x-large{
        font-size: 2.4rem;
    }
    @include xx-large{
        font-size: 2.8rem;
    }
    &:hover{
        color: red;
    }
}


// LIGHT NAVBAR CONTAINER 
.lt-nav-bar-container{
    background: colors.$lt-nav;
    border-bottom: 2px solid black;
}
.lt-nav-bar-container h1{
    font-size: 1.4rem;
    color: black;
    @include small {
        font-size: 1.5rem;
    }
    @include med{
        font-size: 1.6rem;
    }
    @include large{
        font-size: 2rem;
    }
    @include x-large{
        font-size: 2.4rem;
    }
    @include xx-large{
        font-size: 2.8rem;
    }
    &:hover{
        color: rgb(0, 81, 255);
    }
}


